
body{
  width: 100%;
    background-image: url(gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover ;

}




.container {
    display: flex;
    align-items: flex-start;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}



nav{
    position: relative;
    height: 100px;
    top: 29px;
    left: 0; 
    width: 100%;
    box-sizing: border-box;    
}

nav > div {
    position: relative;

}

nav .logo{
    width: 100%;
    height: 100px;
    float: right;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #d86c6c;

}
nav .logo .legacy{
    position: relative;
    bottom: 200px;
    width: 160px;
    float: left;
    padding-right: 7%;
    padding-top: 5%;
    margin-top: -10px;

    
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;

}

nav ul li a{
    line-height: 80px;
    color: #750955;
    padding: 12px 40px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
 
 
}

nav ul li a:hover{
    background: rgba(231, 92, 231, 0.7);
    border-radius: 7px;

}


section{
    padding: 1% 10%;

}

.about-us{
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
}

.glass img{
    max-width: 100%;
    width: 200px;
    height: auto;
    margin-top: 500px;
    float: left;
    margin-bottom: 100px;
    transform:rotate(15deg);

      
}

.small-image{
    width: 300px;
    height: auto;
    margin-top: 1000px;
}

.pretty-image{
    width: 300px;
    height: auto;
    margin-top: 1000px;

}

.main-img img{
    max-width: 100%;
    width: 300px;
    height: auto;
    top: 23px;
}


.text{
    padding: 0.5% 0;
 
}

.text h4{
  
    color: rgb(255, 0, 0);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.text h1{
    color:rgb(249, 55, 152);
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 40px;
    
}

hr{
    width: 100%;
    border: none;
    height: 4px;
    background-color: rgb(240, 128, 0);
    margin-bottom: 50px;
    position: left;

}

.text p{
    max-width: 600px;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.7;
    margin-bottom: 20px;

}

.last-text{

    display: flex;
} 

.text1{
    margin-right: 60px;
   
}

.last-text h3{
    color: rgb(131, 52, 52);
    font-size: 160%;
    font-weight: 800;
    line-height: 115px;
    text-transform: uppercase;
    margin-bottom: -9%;

}

.text2{
    color:#4b4146;
    font-size: 30px;
}

.image {
    flex: 1;
    max-width: 400px;
    margin-right: 20px;
}
.content {
    flex: 2;
    text-align: left;
}
.content h1 {
    font-size: 24px;
    color: #FF66B2; /* Adjust this color to fit your theme */
}
.content p {
    line-height: 1.6;
}